/* Ant Design Grid 响应式样式 */

/* xs: 屏幕 < 576px */
@media (max-width: 575.98px) {
  .ant-col-xs-1 {
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }

  .ant-col-xs-2 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }

  .ant-col-xs-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .ant-col-xs-4 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }

  .ant-col-xs-5 {
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }

  .ant-col-xs-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .ant-col-xs-7 {
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }

  .ant-col-xs-8 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .ant-col-xs-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .ant-col-xs-10 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .ant-col-xs-11 {
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }

  .ant-col-xs-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .ant-col-xs-13 {
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }

  .ant-col-xs-14 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .ant-col-xs-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .ant-col-xs-16 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .ant-col-xs-17 {
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }

  .ant-col-xs-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .ant-col-xs-19 {
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }

  .ant-col-xs-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .ant-col-xs-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .ant-col-xs-22 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }

  .ant-col-xs-23 {
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }

  .ant-col-xs-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .ant-col-xs-0 {
    display: none;
  }

  .ant-col-xs-offset-0 {
    margin-left: 0;
  }

  .ant-col-xs-offset-1 {
    margin-left: 4.16666667%;
  }

  .ant-col-xs-offset-2 {
    margin-left: 8.33333333%;
  }

  .ant-col-xs-offset-3 {
    margin-left: 12.5%;
  }

  .ant-col-xs-offset-4 {
    margin-left: 16.66666667%;
  }

  .ant-col-xs-offset-5 {
    margin-left: 20.83333333%;
  }

  .ant-col-xs-offset-6 {
    margin-left: 25%;
  }

  .ant-col-xs-offset-7 {
    margin-left: 29.16666667%;
  }

  .ant-col-xs-offset-8 {
    margin-left: 33.33333333%;
  }

  .ant-col-xs-offset-9 {
    margin-left: 37.5%;
  }

  .ant-col-xs-offset-10 {
    margin-left: 41.66666667%;
  }

  .ant-col-xs-offset-11 {
    margin-left: 45.83333333%;
  }

  .ant-col-xs-offset-12 {
    margin-left: 50%;
  }

  .ant-col-xs-offset-13 {
    margin-left: 54.16666667%;
  }

  .ant-col-xs-offset-14 {
    margin-left: 58.33333333%;
  }

  .ant-col-xs-offset-15 {
    margin-left: 62.5%;
  }

  .ant-col-xs-offset-16 {
    margin-left: 66.66666667%;
  }

  .ant-col-xs-offset-17 {
    margin-left: 70.83333333%;
  }

  .ant-col-xs-offset-18 {
    margin-left: 75%;
  }

  .ant-col-xs-offset-19 {
    margin-left: 79.16666667%;
  }

  .ant-col-xs-offset-20 {
    margin-left: 83.33333333%;
  }

  .ant-col-xs-offset-21 {
    margin-left: 87.5%;
  }

  .ant-col-xs-offset-22 {
    margin-left: 91.66666667%;
  }

  .ant-col-xs-offset-23 {
    margin-left: 95.83333333%;
  }

  .ant-col-xs-offset-24 {
    margin-left: 100%;
  }

  .ant-col-xs-push-0 {
    left: auto;
  }

  .ant-col-xs-push-1 {
    left: 4.16666667%;
  }

  .ant-col-xs-push-2 {
    left: 8.33333333%;
  }

  .ant-col-xs-push-3 {
    left: 12.5%;
  }

  .ant-col-xs-push-4 {
    left: 16.66666667%;
  }

  .ant-col-xs-push-5 {
    left: 20.83333333%;
  }

  .ant-col-xs-push-6 {
    left: 25%;
  }

  .ant-col-xs-push-7 {
    left: 29.16666667%;
  }

  .ant-col-xs-push-8 {
    left: 33.33333333%;
  }

  .ant-col-xs-push-9 {
    left: 37.5%;
  }

  .ant-col-xs-push-10 {
    left: 41.66666667%;
  }

  .ant-col-xs-push-11 {
    left: 45.83333333%;
  }

  .ant-col-xs-push-12 {
    left: 50%;
  }

  .ant-col-xs-push-13 {
    left: 54.16666667%;
  }

  .ant-col-xs-push-14 {
    left: 58.33333333%;
  }

  .ant-col-xs-push-15 {
    left: 62.5%;
  }

  .ant-col-xs-push-16 {
    left: 66.66666667%;
  }

  .ant-col-xs-push-17 {
    left: 70.83333333%;
  }

  .ant-col-xs-push-18 {
    left: 75%;
  }

  .ant-col-xs-push-19 {
    left: 79.16666667%;
  }

  .ant-col-xs-push-20 {
    left: 83.33333333%;
  }

  .ant-col-xs-push-21 {
    left: 87.5%;
  }

  .ant-col-xs-push-22 {
    left: 91.66666667%;
  }

  .ant-col-xs-push-23 {
    left: 95.83333333%;
  }

  .ant-col-xs-push-24 {
    left: 100%;
  }

  .ant-col-xs-pull-0 {
    right: auto;
  }

  .ant-col-xs-pull-1 {
    right: 4.16666667%;
  }

  .ant-col-xs-pull-2 {
    right: 8.33333333%;
  }

  .ant-col-xs-pull-3 {
    right: 12.5%;
  }

  .ant-col-xs-pull-4 {
    right: 16.66666667%;
  }

  .ant-col-xs-pull-5 {
    right: 20.83333333%;
  }

  .ant-col-xs-pull-6 {
    right: 25%;
  }

  .ant-col-xs-pull-7 {
    right: 29.16666667%;
  }

  .ant-col-xs-pull-8 {
    right: 33.33333333%;
  }

  .ant-col-xs-pull-9 {
    right: 37.5%;
  }

  .ant-col-xs-pull-10 {
    right: 41.66666667%;
  }

  .ant-col-xs-pull-11 {
    right: 45.83333333%;
  }

  .ant-col-xs-pull-12 {
    right: 50%;
  }

  .ant-col-xs-pull-13 {
    right: 54.16666667%;
  }

  .ant-col-xs-pull-14 {
    right: 58.33333333%;
  }

  .ant-col-xs-pull-15 {
    right: 62.5%;
  }

  .ant-col-xs-pull-16 {
    right: 66.66666667%;
  }

  .ant-col-xs-pull-17 {
    right: 70.83333333%;
  }

  .ant-col-xs-pull-18 {
    right: 75%;
  }

  .ant-col-xs-pull-19 {
    right: 79.16666667%;
  }

  .ant-col-xs-pull-20 {
    right: 83.33333333%;
  }

  .ant-col-xs-pull-21 {
    right: 87.5%;
  }

  .ant-col-xs-pull-22 {
    right: 91.66666667%;
  }

  .ant-col-xs-pull-23 {
    right: 95.83333333%;
  }

  .ant-col-xs-pull-24 {
    right: 100%;
  }

  .ant-col-xs-order-1 {
    order: 1;
  }

  .ant-col-xs-order-2 {
    order: 2;
  }

  .ant-col-xs-order-3 {
    order: 3;
  }

  .ant-col-xs-order-4 {
    order: 4;
  }

  .ant-col-xs-order-5 {
    order: 5;
  }

  .ant-col-xs-order-6 {
    order: 6;
  }

  .ant-col-xs-order-7 {
    order: 7;
  }

  .ant-col-xs-order-8 {
    order: 8;
  }

  .ant-col-xs-order-9 {
    order: 9;
  }

  .ant-col-xs-order-10 {
    order: 10;
  }
}

/* sm: 屏幕 ≥ 576px */
@media (min-width: 576px) {
  .ant-col-sm-1 {
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }

  .ant-col-sm-2 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }

  .ant-col-sm-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .ant-col-sm-4 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }

  .ant-col-sm-5 {
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }

  .ant-col-sm-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .ant-col-sm-7 {
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }

  .ant-col-sm-8 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .ant-col-sm-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .ant-col-sm-10 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .ant-col-sm-11 {
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }

  .ant-col-sm-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .ant-col-sm-13 {
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }

  .ant-col-sm-14 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .ant-col-sm-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .ant-col-sm-16 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .ant-col-sm-17 {
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }

  .ant-col-sm-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .ant-col-sm-19 {
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }

  .ant-col-sm-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .ant-col-sm-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .ant-col-sm-22 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }

  .ant-col-sm-23 {
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }

  .ant-col-sm-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .ant-col-sm-0 {
    display: none;
  }

  .ant-col-sm-offset-0 {
    margin-left: 0;
  }

  .ant-col-sm-offset-1 {
    margin-left: 4.16666667%;
  }

  .ant-col-sm-offset-2 {
    margin-left: 8.33333333%;
  }

  .ant-col-sm-offset-3 {
    margin-left: 12.5%;
  }

  .ant-col-sm-offset-4 {
    margin-left: 16.66666667%;
  }

  .ant-col-sm-offset-5 {
    margin-left: 20.83333333%;
  }

  .ant-col-sm-offset-6 {
    margin-left: 25%;
  }

  .ant-col-sm-offset-7 {
    margin-left: 29.16666667%;
  }

  .ant-col-sm-offset-8 {
    margin-left: 33.33333333%;
  }

  .ant-col-sm-offset-9 {
    margin-left: 37.5%;
  }

  .ant-col-sm-offset-10 {
    margin-left: 41.66666667%;
  }

  .ant-col-sm-offset-11 {
    margin-left: 45.83333333%;
  }

  .ant-col-sm-offset-12 {
    margin-left: 50%;
  }

  .ant-col-sm-offset-13 {
    margin-left: 54.16666667%;
  }

  .ant-col-sm-offset-14 {
    margin-left: 58.33333333%;
  }

  .ant-col-sm-offset-15 {
    margin-left: 62.5%;
  }

  .ant-col-sm-offset-16 {
    margin-left: 66.66666667%;
  }

  .ant-col-sm-offset-17 {
    margin-left: 70.83333333%;
  }

  .ant-col-sm-offset-18 {
    margin-left: 75%;
  }

  .ant-col-sm-offset-19 {
    margin-left: 79.16666667%;
  }

  .ant-col-sm-offset-20 {
    margin-left: 83.33333333%;
  }

  .ant-col-sm-offset-21 {
    margin-left: 87.5%;
  }

  .ant-col-sm-offset-22 {
    margin-left: 91.66666667%;
  }

  .ant-col-sm-offset-23 {
    margin-left: 95.83333333%;
  }

  .ant-col-sm-offset-24 {
    margin-left: 100%;
  }

  .ant-col-sm-push-0 {
    left: auto;
  }

  .ant-col-sm-push-1 {
    left: 4.16666667%;
  }

  .ant-col-sm-push-2 {
    left: 8.33333333%;
  }

  .ant-col-sm-push-3 {
    left: 12.5%;
  }

  .ant-col-sm-push-4 {
    left: 16.66666667%;
  }

  .ant-col-sm-push-5 {
    left: 20.83333333%;
  }

  .ant-col-sm-push-6 {
    left: 25%;
  }

  .ant-col-sm-push-7 {
    left: 29.16666667%;
  }

  .ant-col-sm-push-8 {
    left: 33.33333333%;
  }

  .ant-col-sm-push-9 {
    left: 37.5%;
  }

  .ant-col-sm-push-10 {
    left: 41.66666667%;
  }

  .ant-col-sm-push-11 {
    left: 45.83333333%;
  }

  .ant-col-sm-push-12 {
    left: 50%;
  }

  .ant-col-sm-push-13 {
    left: 54.16666667%;
  }

  .ant-col-sm-push-14 {
    left: 58.33333333%;
  }

  .ant-col-sm-push-15 {
    left: 62.5%;
  }

  .ant-col-sm-push-16 {
    left: 66.66666667%;
  }

  .ant-col-sm-push-17 {
    left: 70.83333333%;
  }

  .ant-col-sm-push-18 {
    left: 75%;
  }

  .ant-col-sm-push-19 {
    left: 79.16666667%;
  }

  .ant-col-sm-push-20 {
    left: 83.33333333%;
  }

  .ant-col-sm-push-21 {
    left: 87.5%;
  }

  .ant-col-sm-push-22 {
    left: 91.66666667%;
  }

  .ant-col-sm-push-23 {
    left: 95.83333333%;
  }

  .ant-col-sm-push-24 {
    left: 100%;
  }

  .ant-col-sm-pull-0 {
    right: auto;
  }

  .ant-col-sm-pull-1 {
    right: 4.16666667%;
  }

  .ant-col-sm-pull-2 {
    right: 8.33333333%;
  }

  .ant-col-sm-pull-3 {
    right: 12.5%;
  }

  .ant-col-sm-pull-4 {
    right: 16.66666667%;
  }

  .ant-col-sm-pull-5 {
    right: 20.83333333%;
  }

  .ant-col-sm-pull-6 {
    right: 25%;
  }

  .ant-col-sm-pull-7 {
    right: 29.16666667%;
  }

  .ant-col-sm-pull-8 {
    right: 33.33333333%;
  }

  .ant-col-sm-pull-9 {
    right: 37.5%;
  }

  .ant-col-sm-pull-10 {
    right: 41.66666667%;
  }

  .ant-col-sm-pull-11 {
    right: 45.83333333%;
  }

  .ant-col-sm-pull-12 {
    right: 50%;
  }

  .ant-col-sm-pull-13 {
    right: 54.16666667%;
  }

  .ant-col-sm-pull-14 {
    right: 58.33333333%;
  }

  .ant-col-sm-pull-15 {
    right: 62.5%;
  }

  .ant-col-sm-pull-16 {
    right: 66.66666667%;
  }

  .ant-col-sm-pull-17 {
    right: 70.83333333%;
  }

  .ant-col-sm-pull-18 {
    right: 75%;
  }

  .ant-col-sm-pull-19 {
    right: 79.16666667%;
  }

  .ant-col-sm-pull-20 {
    right: 83.33333333%;
  }

  .ant-col-sm-pull-21 {
    right: 87.5%;
  }

  .ant-col-sm-pull-22 {
    right: 91.66666667%;
  }

  .ant-col-sm-pull-23 {
    right: 95.83333333%;
  }

  .ant-col-sm-pull-24 {
    right: 100%;
  }

  .ant-col-sm-order-1 {
    order: 1;
  }

  .ant-col-sm-order-2 {
    order: 2;
  }

  .ant-col-sm-order-3 {
    order: 3;
  }

  .ant-col-sm-order-4 {
    order: 4;
  }

  .ant-col-sm-order-5 {
    order: 5;
  }

  .ant-col-sm-order-6 {
    order: 6;
  }

  .ant-col-sm-order-7 {
    order: 7;
  }

  .ant-col-sm-order-8 {
    order: 8;
  }

  .ant-col-sm-order-9 {
    order: 9;
  }

  .ant-col-sm-order-10 {
    order: 10;
  }
}
